
#about article div:last-child {
  /* border: 1px solid red; */
}
#about .profile {
  padding: 3em 1em 1em 2em;
}
ul.timeline{
  position: relative;
  left: 50%;
  width: 6px;
  background: #666;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.timeline > li:hover { 
  opacity: 0.8; 
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.timeline > li{
  position: relative;
  width: 250px;
  left: 30px;
  /* border: 1px solid #333; */
  padding: 1.5em 1em;
  margin-bottom: 50px;
  font-size: 14px;
  background: linear-gradient(to right, #40ca3e, #4ca2cb);
  color: #fff;
  border-radius: 5px;
}
.timeline > li:nth-child(odd){
  left: -275px;
}
.timeline > li:nth-child(odd):after{
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 10px solid #333;
  border-color: transparent transparent transparent #4ca2cb;
}
.timeline >li:nth-child(even):after{
  content: '';
  position: absolute;
  left: -20px; top: 50%;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 10px solid #333;
  border-color: transparent #40ca3e transparent transparent;
}    
.timeline li h3{ 
  opacity: 1;
  padding-bottom: 5px;
}

@media screen and (max-width: 1023px) {
  ul.timeline{
    position: relative;
    left: 20px;
    width: 6px;
    background: #666;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
  .timeline > li{
    position: relative;
    width: 300px;
    left: 30px;
    /* border: 1px solid #333; */
    padding: 1.5em 1em;
    /* margin-bottom: 50px; */
    font-size: 14px;
    background: linear-gradient(to right, #40ca3e, #4ca2cb);
    color: #fff;
    border-radius: 5px;
  }
  .timeline > li:nth-child(odd){
    left: 30px;
  }
  
  .timeline > li:nth-child(odd):after{
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 10px solid #333;
    border-color: transparent #40ca3e transparent transparent;
  }
}