#main_footer{
  position: relative;
  padding: 40px 0px;
  border-top: 1px solid #ccc;
}

#main_footer > .btn_top {
  position: absolute;
  right: 0px; top: -48px;
  width: 48px; height: 48px;
  background: #333;
  color: #fff;
  font-size: 14px;
  line-height: 48px;
}

#main_footer > .sns {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_footer > .sns > li {
  margin-left: 1em;
  margin-right: 1em;
}
#main_footer > .sns > li {
  width: 32px; 
  /* border: 1px solid red; */
}
#main_footer > .sns > li > a {
   display: block; 
   /* border: 1px solid red; */
}
#main_footer > .sns > li .fa { 
  font-size: 32px;
}
#main_footer > .sns > li .fa-envelope{ 
  margin-top: -2px;
}
#main_footer > .sns > li > a { color: #333;}

@media screen and (max-width:767px) {
  #main_footer > .btn_top {
    right: 20px;
  }
}